<div id="photo" class="text-center"/>
<h1><%= photo.escape('title') %></h1>
<% if (photo.escape('album_title')) { %>
  <h2>In
    <a href="#/api/albums/<%= photo.escape('album_id') %>">
      <%= photo.escape('album_title') %>
    </a>
  </h2>
<% } %>
<h3>Uploaded by
  <a href="#/api/users/<%= photo.escape('uploader_id') %>">
    <%= photo.escape('uploader_email') %>
  </a>
</h3>
<p><%= photo.escape('caption') %></p>
<p>
  <% if (photo.escape('uploader_id') === CURRENT_USER.id) { %>
    <a href="#/api/photos/<%= photo.id %>/edit" class="edit btn btn-primary">
      Edit
    </a>
    <a href="javascript:void(0)" class="delete btn btn-danger">
      Delete
    </a>
  <% } %>
</p>
