
<div class="col-xs-8 col-xs-offset-2 form-container">
  <h1><%= photo.isNew() ? "Add Photo" : "Edit Photo" %></h1>
  <ul class='form-errors'></ul>

  <form class="form-group form-horizontal">
    <div id="preview" class="text-center"></div>

    <div class="col-xs-offset-3 col-xs-9">
      <button class="upload btn btn-large btn-primary">
        Upload Image <span class="glyphicon glyphicon-camera"></span>
      </button>
    </div>
    <br>

    <label for="photo_title" class="control-label col-xs-3">Title</label>
    <div class="col-xs-9">
      <input type="text"
             name="photo[title]"
             value="<%= photo.escape('title') %>"
             id="photo_title"
             class="form-control title-input"
             placeholder="Title">
    </div>

    <label for="photo_caption" class="control-label col-xs-3">Caption</label>
    <div class="col-xs-9">
      <input type="text"
             name="photo[caption]"
             id="photo_caption"
             class="form-control"
             value="<%= photo.escape('caption') %>"
             placeholder="Caption">
    </div>

    <label for="photo_album_id" class="control-label col-xs-3">Album</label>
    <div class="col-xs-9">
      <select name="photo[album_id]"
              id="photo_album_id"
              class="form-control">
        <option value=""/>
        <% var idStr = photo.escape('album_id') %>
        <% albums.each(function (album) { %>
          <option value="<%= album.id %>"
          <%= (idStr.length && Number(idStr) === album.id) ? "selected" : "" %>>
            <%= album.escape('title') %>
          </option>
        <% }) %>
      </select>
    </div>

    <br>
    <label class="control-label col-xs-3">Tags</label>
    <div class="col-xs-9 tag-form-container">
      <div class="tags"></div>
    </div>

    <div class="buttons col-xs-offset-3 col-xs-9">
      <button class="submit btn btn-success">
        <%= photo.isNew() ? "Add Photo" : "Save Changes" %>
      </button>
      <button class="cancel btn btn-danger">Cancel</button>
    </div>
  </form>
</div>
