<h1><%= photo.isNew() ? "Add Photo" : "Edit Photo" %></h1>

<ul class='form-errors'></ul>

<form class="form-group">
  <div id="preview"></div>
  <button class="upload">Upload Image</button>
  <br>

  <label for="photo_title">Title</label>
  <input type="text"
         name="photo[title]"
         value="<%= photo.escape('title') %>"
         id="photo_title"
         class="form-control">

  <label for="photo_caption">Caption</label>
  <input type="text"
         name="photo[caption]"
         id="photo_caption"
         class="form-control"
         value="<%= photo.escape('caption') %>">

  <label for="photo_album_id">Album</label>
  <select name="photo[album_id]"
          id="photo_album_id"
          class="form-control">
    <% albums.each(function (album) { %>
      <option value="<%= album.id %>"
              selected="<%= photo.escape('album_id') === album.id %>">
        <%= album.escape('title') %>
      </option>
    <% }) %>
  </select>
  <button class="submit">Submit</button>
</form>
