<div id="photo" class="text-center"/>
<h3><%= photo.escape('title') %></h3>
<p>
  <%= photo.escape('caption') %> &mdash;
  <% if (photo.escape('album_title')) { %>
    in
    <a href="#/api/albums/<%= photo.escape('album_id') %>">
      <%= photo.escape('album_title') %>
    </a>
  <% } %>
  uploaded by
  <a href="#/api/users/<%= photo.escape('uploader_id') %>">
    <%= photo.get('uploader_id') === Number(CURRENT_USER.id) ? 'you' : photo.escape('uploader_email') %>
  </a>
</p>
<p><%= JST['tags/_tags']({ tags: photo.tags() }) %></p>
<p class="photo-options">
  <span class="like-container"></span>
  <a href="<%= photo.escape('image_url') %>"
    class="btn btn-success"
    download="<%= photo.escape('title')%>">
    <span class="glyphicon glyphicon-download-alt"></span>
  </a>
  <% if (photo.escape('uploader_id') === CURRENT_USER.id) { %>
    <br><br>
    <a href="#/api/photos/<%= photo.id %>/edit" class="edit btn btn-primary">
      Edit
    </a>
    <a href="javascript:void(0)" class="delete btn btn-danger">
      Delete
    </a>
  <% } %>
</p>
