<h3 class="index-title"><%= album.escape('title') %></h3>
<p>
  <%= album.escape('description') %> &mdash;
  by
  <a href="#/api/users/<%= album.escape('creator_id') %>">
    <%= album.escape('creator_email') %>
  </a>
<p><%= JST['tags/_tags']({ tags: album.tags() }) %></p>
<p>
  <span class="like-container"></span>
  <% if (album.escape('creator_id') === CURRENT_USER.id) { %>
    <br><br>
    <a href="#/api/albums/<%= album.id %>/edit" class="edit btn btn-primary">
      Edit
    </a>
    <a href="javascript:void(0)" class="delete btn btn-danger">
      Delete
    </a>
  <% } %>
</p>
<div class="photos-index"></div>
<ul class="comments">
  <% album.comments().each(function (comment) { %>
    <li>
      <a href="#/api/users/<%= comment.escape('user_id') %>">
        <img src="<%= comment.escape('user_avatar_url') %>"
             class="img-circle avatar-small">
        <strong><%= comment.escape('user_email') %></strong>
      </a>
      <%= comment.escape('body') %>
    </li>
  <% }) %>
</ul>
