<div class="col-xs-8 col-xs-offset-2 form-container">
  <h1><%= album.isNew() ? "Create Album" : "Edit Album" %></h1>
  <ul class='form-errors'></ul>

  <form class="form-group form-horizontal">
    <label for="album_title" class="control-label col-xs-3">Title</label>
    <div class="col-xs-9">
      <input type="text"
             name="album[title]"
             value="<%= album.escape('title') %>"
             id="album_title"
             class="form-control"
             placeholder="Title">
    </div>

    <label for="album_description" class="control-label col-xs-3">
      Description
    </label>
    <div class="col-xs-9">
      <input type="text"
             name="album[description]"
             id="album_description"
             class="form-control"
             value="<%= album.escape('description') %>"
             placeholder="Description">
    </div>

    <% if (album.photos().length) { %>
      <label for="album_cover_photo_id" class="control-label col-xs-3">
        Cover Photo
      </label>
      <div class="col-xs-9">
        <select class="form-control"
                name="album[cover_photo_id]"
                id="album_cover_photo_id">
          <option value="">Choose a Cover Photo</option>
          <% var idStr = album.escape('cover_photo_id') %>
          <% album.photos().each(function (photo) { %>
            <option value="<%= photo.id %>"
            <%= (idStr.length && Number(idStr) === photo.id) ? "selected" : "" %>>
              <%= photo.escape('title') %>
            </option>
          <% }) %>
        </select>
      </div>
    <% } %>

    <br>
    <label class="control-label col-xs-3">Add Tags</label>
    <div class="tag-form col-xs-9"></div>

    <br>
    <div class="tags"></div>

    <div class="col-xs-offset-3 col-xs-9">
      <button class="submit btn btn-success">
        <%= album.isNew() ? "Create Album" : "Save Changes" %>
      </button>
    </div>
  </form>
</div>
