<h1 class="index-title"><%= album.escape('title') %></h1>
<h2 class="album-author">by
  <a href="#/api/users/<%= album.escape('creator_id') %>">
    <%= album.escape('creator_email') %>
  </a>
</h2>
<p><%= album.escape('description') %></p>
<p>
  <% if (album.escape('creator_id') === CURRENT_USER.id) { %>
    <a href="#/api/albums/<%= album.id %>/edit" class="edit btn btn-primary">
      Edit
    </a>
    <a href="javascript:void(0)" class="delete btn btn-danger">
      Delete
    </a>
  <% } %>
</p>
<div class="photos-index"></div>
