<!DOCTYPE html>
<html>
<head>
  <title>Bickr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://widget.cloudinary.com/global/all.js"
          type="text/javascript">
  </script>
</head>
<body>

<% if !current_user %>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#collapse"
                aria-expanded="false">
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Bickr</a>
      </div>

      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form action="<%= session_url %>" method="POST">
              <input type="hidden"
                     name="user[email]"
                     value="guest@example.com">
              <input type="hidden"
                     name="user[password]"
                     value="password">
              <input type="hidden"
                     name="authenticity_token"
                     value="<%= form_authenticity_token %>">
              <input type="submit"
                     class="guest-login"
                     value="Log in as Guest">
            </form>
          </li>
          <li class="<%= current_page?(new_session_url) ? 'active' : ''%>">
            <%= link_to "Log In", new_session_url %>
          </li>
          <li class="<%= current_page?(new_user_url) ? 'active' : ''%>">
            <%= link_to "Sign Up", new_user_url %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>

<%= yield %>

</body>
</html>
